@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply font-medium text-2xl font-sans mb-2.5;
  }
  h2 {
    @apply font-medium text-xl mb-2;
  }
  h3 {
    @apply font-medium text-[1.1rem] my-1;
  }
  ul {
    @apply list-disc list-outside mt-2 pl-4 mb-4;
  }
  ol {
    @apply list-decimal list-outside mt-2 pl-4 mb-4;
  }
  li {
    @apply mb-2 pl-1;
  }
  p:not(:last-child) {
    @apply whitespace-pre-line mb-4;
  }
  .question p {
    @apply mb-0;
  }
  h1 + p,
  h2 + p,
  h3 + p {
    @apply whitespace-pre-line mb-4;
  }
  /* p > strong:first-child, 
  p > em:first-child {
    @apply mb-1 inline-block;
  }
  p > strong:first-child {
    @apply font-semibold;
  } */
  strong {
    @apply font-semibold;
  }
}

@media print {
  @page {
    margin: 10px 20px;
  }
}

@font-face {
  font-family: Tiempos;
  src: url('../public/fonts/test-tiempos-headline-light.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --sans: Inter, Segoe UI, Helvetica Neue, sans-serif;
  --serif: Tiempos, serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

body {
  color: #000;
  background: #fff;
  font-family: var(--sans);
}

main {
  min-height: 100vh;
}

h1 {
  font-family: var(--serif);
  /* font-weight: normal; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 769px) {
  .hide-desktop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .marquee-container .overlay {
    display: none !important;
  }
}

/* DOCUMENT VIEWER */

.rpv-default-layout__container {
  border: none !important;
}

.rpv-default-layout__sidebar {
  display: none !important;
}

.rpv-default-layout__toolbar {
  background: #faf9f6 !important;
  border-bottom: 1px solid #ebeae2 !important;
}

div[aria-describedby='rpv-core__tooltip-body-open'],
div[aria-describedby='rpv-core__tooltip-body-search-popover'],
div[aria-describedby='rpv-core__tooltip-body-get-file'],
div[aria-describedby='rpv-core__tooltip-body-theme-switch'] {
  display: none;
}

.custom_highlight {
  background: yellow;
}

.waving-hand-emoji {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 1.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
